.fullContent {
  border: 1px solid #29afca;
  width: 95%;
  padding-bottom: 20px;
  height: 50%;
  margin-left: 2%;
  position: relative;
}
header {
  border: 1px solid #29afca;
  text-align: center;
  color: white;
  background-color: #29afca;
}
article {
  width: 98%;
  margin: 10px;

  height: 90%;
}
.edit-child-div {
  width: 98%;
  margin: 10px;

  height: 90%;
}
.row {
  width: 100%;
  padding-bottom: 10px;

  height: 10%;
}

.col-1 {
  margin-top: 15px;
  float: left;
  width: 15%;
  font-size: 20px;
  height: 20px;
  text-align: right;
  padding: 10px 10px 10px 0px;
}

.col-2 {
  margin-top: 15px;
  float: left;
  width: 33%;
  height: 40px;
}
.col-2 input {
  height: 36px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 325px;
  font-size: 16px;
  border: 1px solid grey;
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
}
.addEm,
#editEm {
  background-color: #29afca;
  color: white;
  padding: 5px;
  width: 80px;
  outline: "none";
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 48%;
}
table {
  margin-left: 24%;
  font-size: 18px;
}

td {
  border: 1px solid #29afca;
  padding: 10px 20px 10px 20px;
}
th {
  background-color: #29afca;
  border: 1px solid rgb(241, 236, 237);
  padding: 10px 20px 10px 20px;
  color: white;
}
table,
th,
td {
  border-collapse: collapse;
}

.edit {
  color: blue;
  font-size: 20px;
}
.delete {
  color: red;
  font-size: 20px;
}
.edit:hover,
.delete:hover {
  cursor: pointer;
  font-size: 22px;
}
#editModal {
  position: fixed;
  z-index: 1;
  border: 1px solid rgb(241, 240, 240);
  top: 80px;
  width: 95%;
  height: 40%;
  margin-right: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px skyblue;
  padding-top: 40px;
}
#close {
  float: right;
  margin-right: 20px;
  color: red;
  font-size: 22px;
}
#close:hover {
  cursor: pointer;
}
.mandatory {
  box-shadow: 2px 2px 4px 4px rgb(235, 135, 135);
}

.form-control:focus {
  border: 1ox solid skyblue;
  box-shadow: 1px 2px 2px 2px skyblue;
}
